@import "../scss/variables";

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-bottom: 1.5rem;
    &.btn {
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid $grey;
        border-radius: 4px;
        transition: $hover;
        position: relative;
        overflow: hidden;
        background: rgba(223, 141, 20, 0.87);
        
    
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%)scaleY(1)scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            border-radius: 50%;
            display: block;
            transition: $slide;
            z-index: -1;
          }
          
          &:after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%)scaleY(1)scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: $DarkOrange;
            border-radius: 50%;
            display: block;
            transition: $slide;
            z-index: -1;
          }
          
          &:hover {
              color: white;
            border: 1px solid $DarkOrange;
            
            &:before {
              top: -35%;
              background-color:  $DarkOrange;
              transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
            }
            
            &:after {
              top: -45%;
              background-color:  $DarkOrange;
              transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
            }
          }
        
    }
}

.buybutton {
    max-width: 250px;
    background-color: #008ce6;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    color: #fff;
    cursor: pointer;
}

.buybutton:hover {
    background-color: rgb(36, 172, 196);
}

.infotxt {
    padding: 0 0.8rem;
    margin-bottom: 2rem;
    width: 50%;
    align-content: center;
    display: flex;
    border-radius: 10px;
    background-color: rgba(37, 22, 22, 0.507);

}