%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    &.btn {
        padding: 0 .5rem;
        border: 2px solid white;
        height: 3rem;
        background: rgba(69, 117, 146, 0.5);
        @extend %center;
        text-decoration: none;
        font-weight: 600;
        color: white;
        border-radius: 10px;
        cursor: pointer;

        &:active {
            background: #105469;
        }
        
    }
}

.buybutton {
    max-width: 250px;
    background-color: #008ce6;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    color: #fff;
    cursor: pointer;
}

.buybutton:hover {
    background-color: rgb(36, 172, 196);
}

.infotxt {
    padding: 0 0.8rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: rgba(37, 22, 22, 0.507);
    max-width: 300px;
}