@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    font-family: 'Merienda One', sans-serif;
    }

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 4rem;
    margin: 0;
    color: black;
    
}

h2 {
    font-family: 'Merienda One', cursive;
    font-size: 2.5rem;
    margin: 10px 0px 10px 0px;
    color: black;
}

h3 {
    font-family: 'Merienda One', cursive;
    margin: 15px 0px 10px 0px;
    color: black;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}
