$baseline: 1.8rem;
$green: rgb(39, 155, 101);
$red: rgb(209, 62, 62);
$white: #EEF0F2;
$grey: grey;
$hover: all 0.2s ease-in;
$slide:all 0.5s 0.1s cubic-bezier(0.55,0,0.1,1);
$transparent: rgba(255, 255, 255, 0.986);
$black-05: rgb(255, 255, 255);
$DarkOrange:  rgba(51, 47, 47, 0.692);
$orange: rgba(255, 153, 0, 0.568);

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%buttons {
    height: $baseline *1.8;
    font-weight: 700;
    font-size: 1.2rem;
        &.ready {
        background: $green;
        color: rgba($color: #FFF, $alpha: 1);
    }
}

%inputs {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: background .2s ease;
    color: black;
    font-weight: bolder;
    border-radius: 5px; 
    &:focus {
        outline: none;
        background: rgba($color: $red, $alpha: .8);
    }
    &.valid {
        background: rgba($color: $green, $alpha: .8);
    }
}

// Transition effects
.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.slide-enter-active {
    transition: all .7s ease;
}

.slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter,
.slide-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

// Transition effects