$baseline: 1.8rem;
$green: rgb(39, 155, 101);
$red: rgb(209, 62, 62);
$white: #EEF0F2;
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%globalFont {
    // font-family: 'Merienda One', cursive;
    // font-family: 'Do Hyeon', sans-serif;
    // font-family: 'Oleo Script', cursive;
    font-family: 'Monda', sans-serif;
}

%buttons {
    height: $baseline *1.8;
    background: $red;
    color: rgba($color: #FFF, $alpha: .6);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &.ready {
        background: $green;
        color: rgba($color: #FFF, $alpha: 1);
    }
}

%inputs {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: background .2s ease;
    color: black;
    font-weight: bolder;
    &:focus {
        outline: none;
        background: rgba($color: $red, $alpha: .6);
    }
    &.valid {
        background: rgba($color: $green, $alpha: .4);
    }
}

// Transition effects
.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.slide-enter-active {
    transition: all .7s ease;
}

.slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter,
.slide-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

// Transition effects