@import './typography';
@import "../scss/variables";

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("http://i64.tinypic.com/2cr9k3n.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: drop-shadow(0 0 0.75rem rgba(12, 12, 12, 0.76));
}

body {
    margin: 0;
    #app {
        text-align: center;
        color: #ffffff;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        display: flex;
    }
    a {
        text-decoration: none;
    }

    a:hover {
        color: rgb(8, 50, 90);
        opacity: 0.6;
        transition: 0.3s;
        font-weight: 600;
    }
}

@media only screen and (max-width: 400px) {
    .media {
        width: 100%;
        border-radius: 0px;
    }
    h2 {
        font-size: 1.3rem;
    }
}