@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Merienda+One');
:root {
    font-family: 'Merienda One', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #83e7f2;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #ffffff;
        height: inherit;
        width: inherit;
    }
    #nav {
        top: 0;
        width: 100%;
        padding: 30px;
        background: #008ce6;
        font-size: 1.2rem;
        a {
            transition: 0.3s;
            font-weight: bold;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            &.router-link-exact-active {
                color: #00afc6;
            }
        }
        a:hover {
            color: rgb(143, 206, 255);
            opacity: 0.6;
            transition: 0.3s;
            font-weight: 600;
        }
    }
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 4rem;
    margin: 0;
    color: black;
}

h2 {
    font-family: 'Merienda One', cursive;
    font-size: 2.5rem;
    margin: 10px 0px 10px 0px;
    color: black;
}

h3 {
    font-family: 'Merienda One', cursive;
    margin: 15px 0px 10px 0px;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

@media only screen and (max-width: 400px) {
    .media {
        width: 100%;
        border-radius: 0px;
    }
    h2 {
        font-size: 1.3rem;
    }
    #nav {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }
    #nav a {
        font-size: .7rem;
    }
}