@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Merienda+One');
@import './typography';


:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: #83e7f2;  /* For browsers that do not support gradients */
    background-image: linear-gradient(#83e7f2, #8bc0fd, #83e7f2); 
    
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #ffffff;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        display: flex;
    }

    a {
        text-decoration: none;
    }

    #nav {
        top: 0;
        width: 100%;
        padding: 30px;
        background: #008ce6;
        font-size: 1.2rem;

        a {
            transition: 0.3s;
            font-weight: bold;
            padding: 10px;
            color: white;
            text-decoration: none;
            text-transform: uppercase;

            &.router-link-exact-active {
                color: #00afc6;
            }
        }

        a:hover {
            color: rgb(143, 206, 255);
            opacity: 0.6;
            transition: 0.3s;
            font-weight: 600;
        }
    }
}


ul {
    list-style-type: none;
    padding: 0;
}
/*
li {
    display: inline-block;
    margin: 0 10px;
}
*/
@media only screen and (max-width: 400px) {
    .media {
        width: 100%;
        border-radius: 0px;
    }

    h2 {
        font-size: 1.3rem;
    }

    #nav {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    #nav a {
        font-size: .7rem;
    }
}
